

  {% if messages.errors %}
    {% for error in messages.errors %}
    <div class="notification-item error" id="notification-item">
      <p>{{error.msg}}</p>
            <span class="notification-remove" onclick="removeNotification()">X</span>
    </div>
    {% endfor %}
  {% endif %}


  {% if messages.success %}
    {% for success in messages.success %}
    <div class="notification-item success" id="notification-item">
      <p>{{success.msg}}</p>
            <span class="notification-remove" onclick="removeNotification()">X</span>

      </div>
    {% endfor %}
  {% endif %}

  {% if messages.info %}
    {% for info in messages.info %}
    <div class="notification-item info" id="notification-item">
      <p>{{info.msg}}</p>
            <span class="notification-remove" onclick="removeNotification()">X</span>
      </div>
    {% endfor %}
  {% endif %}

<script>
function removeNotification() {
  var elem = document.getElementById("notification-item");
  elem.remove();
  };
</script>