<main class="login-form">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header">Account Settings ({{user.user_id}})</div>
                    <div class="card-body">
                        <form method="POST" action="/account/profile">
                              <input type='hidden' name='_csrf' value={{_csrf}}>
                            <div class="form-group row">
                                <label for="email" class="col-md-4 col-form-label text-md-right">Name</label>
                                <div class="col-md-6">
                                      <input type='text' name='name'  class="form-control" id='email' placeholder='email@email.com' value="{{user.profile.name}}">
                                </div>
                            </div>
<br>
                            <div class="form-group row">
                                <label for="email_address" class="col-md-4 col-form-label text-md-right">E-Mail Address</label>
                                <div class="col-md-6">
                                   <input type='email' name='email' id='email'  class="form-control" placeholder='Email' autofocus autocomplete='email' value="{{user.email}}">
                                </div>
                            </div>

<br>
                            <div class="form-group row">
                                <label for="password" class="col-md-4 col-form-label text-md-right">Location</label>
                                <div class="col-md-6">
                                    <input type='text' name='location'  class="form-control" id='location' placeholder='Starship Enterprise, NCC-1701' value="{{user.profile.location}}">
                                </div>
                            </div>
<br>
                            <div class="form-group row">
                                <label for="password" class="col-md-4 col-form-label text-md-right">Website</label>
                                <div class="col-md-6">
                                    <input type='text' name='website'  class="form-control" id='website' placeholder='navigatoralpha.com' value="{{user.profile.website}}">
                                </div>
                            </div>
<br>
                            <div class="col-md-12 text-right">
                                <button type="submit" class="btn btn-primary">
                                    Save
                                </button>
                            </div>
                    </div>
                    </form>
                </div>
<br>
        <div class="card">
                    <div class="card-header">Change Password</div>
                    <div class="card-body">
                        <form method="POST" action="/account/password">
                              <input type='hidden' name='_csrf' value={{_csrf}}>
                            <div class="form-group row">
                                <label for="password" class="col-md-4 col-form-label text-md-right">New Password</label>
                                <div class="col-md-6">
                                   <input type='password' name='password' id='password'  class="form-control">
                                </div>
                            </div>
                            <br>
                            
                            <div class="form-group row">
                                <label for="confirm" class="col-md-4 col-form-label text-md-right">Confirm New Password</label>
                                <div class="col-md-6">
                                   <input type='password' name='confirm' id='confirm' class="form-control">
                                </div>
                            </div>
                            <br>
                            
                            <div class="col-md-6 offset-md-4">
                                <button type="submit" class="btn btn-primary">
                                    Update Password
                                </button>
                            </div>
                    </div>
                    </form>
                </div>
<br>
        <div class="card">
                    <div class="card-header">Delete Account</div>
                    <div class="card-body">
                        <form method="POST" action="/account/delete">
                              <p>You can delete your account, but keep in mind this action is irreversible.</p>
                            
                            <div class="col-md-12 text-center">
                               <button type="submit btn btn-danger" disabled>Delete my account</button>
                            </div>
                    </div>
                    </form>
                </div>


</main>