    <div class="sidebar">
        <div class="con">
            <p class="panelTitle">Navigator<sup>α</sup>
                <b-dropdown size="lg"  variant="link" class="avatar-dd float-right" toggle-class="text-decoration-none avatar-dd" no-caret>
                    <template v-slot:button-content>
                        <span class="avatar" href="#">
                        {% if user %}
                        <img src="https://allthatsinteresting.com/wordpress/wp-content/uploads/2017/07/einstein-picture-cropped-closeup.jpg"></img>
                        {% endif %}
                    </span>
                    </template>
                    <b-dropdown-item href="#">Home</b-dropdown-item>
                    <b-dropdown-item v-b-modal="'settingsModal'" >Account Settings</b-dropdown-item>
                    <b-dropdown-item href="/logout">Logout</b-dropdown-item>
                </b-dropdown>
            </p>
            </div>
            
 <b-modal class="modal fade" id="settingsModal" size="xl" title="Settings">
            {% include 'partials/settings.njk' %}
    </b-modal>

        {% if user %}
        </h2>
            <div class="searchHolder">
                <input class="search" placeholder="Search" v-model="searchText" @keyup.enter="search(this.$data.name = $event.target.value)"></input>
            </div>
        <ul>
            <label>Quick Links <span class="new-entity">+</span></label>
            <router-link to="/notes"><li>📄&nbsp; All Notes</li></router-link>
            <div v-for="customLink in userSettings">
                <!-- TODO: Loop through customLinks in the userSettings -->
            </div>
        </ul>

        <ul>
            <label>Tags <span class="new-entity">+</span></label>
            <router-link :to="{ params: 'notes', query: { search: '#test' }}" exact @click="search('#test')"><li>🏷️&nbsp;Test</li></router-link>
           <!-- TODO: Loop through tags from the userSettings, aggregated and show top most used tags -->
        </ul>

        <ul>
            <label>Tasks <span class="new-entity">+</span></label>
            <router-link :to="{ params: 'notes', query: { search: '#task:backlog' }}" exact><li>🔵&nbsp; Backlog</li></router-link>
            <router-link :to="{ params: 'notes', query: { search: '#task:next' }}" exact><li>🟠&nbsp; Next</li></router-link>
            <router-link :to="{ params: 'notes', query: { search: '#task:today' }}" exact><li>⚪&nbsp; Today</li></router-link>
            <router-link :to="{ params: 'notes', query: { search: '#task:waiting' }}" exact><li>🟣&nbsp; Waiting</li></router-link>
            <router-link :to="{ params: 'notes', query: { search: '#task:finished' }}" exact><li>🟢&nbsp; Finished</li></router-link>
        </ul>

        <ul>
            <router-link :to="{ params: 'notes', query: { search: 'Trash' }}" exact class="disabled"><li>&#x1f5d1; Trash</li></router-link>
            <div class="divider"></div>
            <router-link :to="{ params: 'settings' }" v-b-modal="'settingsModal'" exact><li>&#x2699; Settings</li></router-link>
        </ul>

        
        <div class="weeklyCal disabled">
                <span class="title">Calendar</span>
                <div class="weeklyCal-i">25</div>
                <div class="weeklyCal-i activeDay">26</div>
                <div class="weeklyCal-i">27</div>
                <div class="weeklyCal-i">28</div>
                <div class="weeklyCal-i">29</div>
                <div class="weeklyCal-i">30</div>
                <div class="weeklyCal-i">31</div>
                <div class="weeklyCal-i">&#x22ef;</div>
        </div>
        

        {% else %}

        <ul>
            <a href="/"><li>Home</li></a>
            <a href="/login"><li>Login</li></a>
            <a href="/register"><li>Register Account</li></a>
        </ul>
        {% endif %}
    </div>